/.project
/.classpath
/.settings/
/.gothubtoken.txt
/target/
/mvnw.cmd
/mvnw
/HELP.md
/README.md

/src/main/resporces/dev/
/src/main/resporces/prod/
/src/main/resporces/test/
/src/main/resporces/application.properties

